<div>
    <div class="form-group">
        <div class="row">
            <label for="userId">Id</label>
            <input type="text" [(ngModel)]="aluno.id" class="form-control" id="userId" aria-describedat="userId" disabled>
        </div>
        <div class="row">
            <label for="nome">Nome</label>
            <input type="text" [(ngModel)]="aluno.nome" class="form-control" id="nome" aria-describedat="nome">
        </div>
        <div class="row">
            <label for="email">Id</label>
            <input type="email" [(ngModel)]="aluno.email" class="form-control" id="email" aria-describedat="email">
        </div>
    </div>
</div>